[Unit]
Description=Disable power wakeups to allow sleep.
Wants=dbus.service
After=dbus.service

[Service]
Type=oneshot
ExecStart=echo disabled | tee /sys/bus/i2c/devices/i2c-PNP0C50\:00/power/wakeup # touchpad ?
